html,body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    background: #2E6061;
}
.sliderNav{
    /*width:200px;*/

}
#personNews{

    display:none;
    border:4px solid #0a8c84;
    border-radius: 10px;
    margin-top:30px;
    margin-left:30px;
    margin-bottom: 50px;

   /* background: ;*/

}
#orderNews{
    border:4px solid #0a8c84;
    border-radius: 10px;
    margin-top:30px;
    margin-left:30px;
    margin-bottom: 50px;
    height:360px;
    /*background: ;*/
}
#fastorder{
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 30px;

}
#fastorder ul li{
    margin:20px;
}
